# ignore files wo extension (posix binaries)
*
!*.*
!*/


# Any path
*.swp
*~
nimcache/

# Absolute paths
/src/babel
/src/nimble

# Windows executables
*.exe
*.dll

# VCC compiler and linker artifacts
*.ilk
*.pdb

# Editors and IDEs project files and folders
.vscode

# VCS artifacts
*.orig

# Test procedure artifacts
/buildTests

# executables from test and build (already gitignored but keeping for documentation)
# /nimble
# src/nimblepkg/cli
# src/nimblepkg/packageinfo
# src/nimblepkg/packageparser
# src/nimblepkg/reversedeps
# src/nimblepkg/version
# src/nimblepkg/download
