# Any path
*.swp
*~
nimcache/

# Absolute paths
/src/babel
/src/nimble

# executables from test and build
/nimble
src/nimblepkg/cli
src/nimblepkg/packageinfo
src/nimblepkg/packageparser
src/nimblepkg/reversedeps
src/nimblepkg/version
src/nimblepkg/download

# Windows executables
*.exe
*.dll

# VCC compiler and linker artifacts
*.ilk
*.pdb

# Editors and IDEs project files and folders
.vscode

# VCS artifacts
*.orig

# Test procedure artifacts
nimble_*.nims
