--path:"$lib/packages/docutils"
#--noNimblePath
--path:"$nim/"
--path:"../vendor/zippy/src"
--path:"../vendor/sat/src"
--path:"../vendor/checksums/src"
--path:"../vendor/chronos"
--path:"../vendor/results"
--path:"../vendor/stew"
-d:ssl
-d:nimcore # Enable 'gorge' in Nim's VM. See https://github.com/nim-lang/Nim/issues/8096
-d:zippyNoSimd
