on:
  push:
  pull_request:
  schedule:
  - cron: "0 19 * * *"

jobs:
  test:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
        nimversion:
          - nightly:https://github.com/nim-lang/nightlies/releases/tag/2021-07-18-devel-923a1c6ea7d9f45b6389680717692690218228fb
    name: ${{ matrix.os }} - ${{ matrix.nimversion }}
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: iffy/install-nim@v3.2.0
        with:
          version: ${{ matrix.nimversion }}
      - run: nim --version
      - name: Install Mercurial on macOS
        if: matrix.os == 'macos-latest'
        run: brew install mercurial
      - name: Run nim c -r tester
        run: |
          cd tests
          nim c -r tester
      - run: ./src/nimble install -y
